.member-bids-record-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    min-height: 100vh;
    padding: 20px;

    h1 {
        margin-top: 10rem;
    }

    .error-message {
        color: red;
        margin-bottom: 20px;
    }

    .auction-result-details {
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 20px;
        width: 100%;
        max-width: 600px;

        img {
            width: 100%;
            height: 25rem;
            margin-bottom: 10px;
        }

    }

    button {
        background-color: #824D4D;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: #634040;

        }
    }

    .bids-record-table {
        width: 100%; /* Ensure the table takes full width */
        .ant-table {
          width: 100%; /* Ensure the inner table takes full width */
        }
      }

    p {
        margin: 5px 0;
    }
}