.guest-header-home {
    position: relative; /* Make sure it stays within the document flow */

    .logo {
        height: 100px;
    }

    .account {
        height: 50px;
        margin-top: 15px; /* Adjust to your desired height */
    }

    nav {
        margin-bottom: 0; /* Adjust margin as needed */
    }

    ul {
        display: flex;
        height: 100px;
        justify-content: center;
        align-items: center; /* Ensure items are centered vertically */

        .guest-header-items {
            display: flex;
            align-items: center;
            padding: 10px 20px; /* Adjust padding as needed */
            margin: 0 40px; /* Adjust margin as needed */
            border-radius: 10px; /* Rounded corners */
            transition: background-color 0.25s ease-out;
            margin-top: 0; /* Adjusted margin-top to avoid overlap */

            &:hover {
                background-color: #e6e6ff; /* Light purple background on hover */
            }

            li {
                list-style: none;
                white-space: nowrap;
                color: #824D4D;
                font-size: 30px;

                a {
                    text-decoration: none;
                    color: inherit;
                    display: flex;
                    align-items: center;

                    &:hover {
                        color: #000; /* Text color on hover */
                    }
                }
            }
        }
    }
}

.content {
    margin-top: 100px; /* Adjust top margin to ensure it clears the header */
}

.login-container {
    display: flex;
    align-items: center;

    img {
        margin-right: 5px; /* Adjust space between image and text */
    }
}
