.guest-header-home {
    position: relative;
    margin-bottom: 0;

    .logo {
        height: 8rem;
    }

    .account {
        height: 50px;
    }

    nav {
        ul {
            display: flex;
            height: 9rem;
            justify-content: center;
            align-items: center;
            margin-bottom: -1rem;
            margin-top: -1rem;

            .guest-header-items {
                display: flex;
                align-items: center;
                padding: 10px 30px;
                margin: 10px 40px 0 40px; 
                border-radius: 10px;
                transition: background-color 0.25s ease-out;

                &:hover {
                    background-color: beige;
                    cursor: pointer;
                }

                li {
                    list-style: none;
                    white-space: nowrap;
                    color: #824D4D;
                    font-size: 24px;

                    a {
                        text-decoration: none;
                        color: inherit;
                        display: flex;
                        align-items: center;

                        &:hover {
                            color: #000;
                        }
                    }
                }

                .login-container {
                    display: flex;
                    align-items: center;

                    img {
                        margin-right: 0.5rem;
                    }
                }
            }
        }
    }

    .content {
        margin-top: 100px;
    }
}
