.contents-details {
    padding: 20px;
    margin-top: 100px;
}

.contents-details-content {
    display: flex;
    flex-direction: column;
}

.jewelry-details {
    display: flex;
    flex-direction: column;
    width: 100%; /* Ensure it takes the full width of the parent container */
}

.jewelry-item {
    display: flex;
    width: 100%; /* Ensure it takes the full width of the parent container */
    margin-bottom: 10px;
    border: 1px solid #6e4126;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.item-img {
    width: 150px; /* Reduce width */
    height: 150px; /* Reduce height */
    margin-right: 20px;
    object-fit: cover;
    border-radius: 5px;
}

.jewelry-info {
    display: flex;
    flex-direction: column;
    flex: 1; /* Allow this section to grow and fill available space */
}

.jewelry-info p {
    margin: 5px 0;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden;
    text-overflow: ellipsis; /* Add ellipsis (...) for overflow text */
}

    

