.member-auctions-content {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    h1 {
        font-size: 5rem;
    }
}
.member-auctions-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem; 
    padding: 16px;
    justify-content: center;
    margin-bottom: 5rem;
}

.member-auction-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    width: 20rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.member-auction-item h3 {
    margin: 0 0 8px 0;
    font-size: 18px;
}

.member-auction-item p {
    margin: 4px 0;
}
.searchBar {
    display: grid;
    place-items: center; /* Centers both horizontally and vertically */
    margin-left: -22rem;
  }
.fui-input-label-animation {
    display: inline-block;
    place-items: center;
    
    position: relative;
    .form-input {
      width: 250%;
      padding: 15px;
      transition: 0.25s ease;
      &:not(:placeholder-shown) + .form-label,
      &:focus + .form-label {
        top: 0;
        padding: 0 5px;
        display: inline-block;
        left: 11px;
        font-size: 14px;
        font-weight: 500;
      }
      &:focus {
        & + .form-label {
          color: #9ca3af;
        }
      }
    }
    .form-label {
      position: absolute;
      top: 30%;
      left: 21px;
      user-select: none;
      color: #9ca3af;
      pointer-events: none;
      transition: 0.25s ease;
    }
  }
  img{
    width: 120%;
      height: 15rem;
  }