.member-header-home {
    .logo {
        height: 100px;
    }

    .account {
        height: 50px;
    }

    ul {
        display: flex;
        height: 100px;
        justify-content: center;

        .member-header-items {
            display: inline-block;
            margin: auto;

            &:hover {
                background-color: beige;
                transition: ease-out 0.25s;
            }

        }

        li {
            list-style: none;
            white-space: nowrap;
            color: #824D4D;
            font-size: 20px;

            a {
                text-decoration: none;
                color: inherit;
                &:hover {
                    background-color: beige;
                    transition: ease-out 0.25s;
                }
            }

        }
    }
}
