$jewelry-upload-container-padding: 20px;
$jewelry-upload-container-margin-top: 150px;
$jewelry-upload-container-margin-bottom: 50px;
$form-border-color: #ccc;
$form-background-color: #f9f9f9;
$form-text-color: #333;
$form-button-color: #824D4D;
$form-button-hover-color: darken($form-button-color, 10%);
$form-label-color: #555;

.jewelry-upload-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: $jewelry-upload-container-padding;
  margin-top: $jewelry-upload-container-margin-top;
  margin-bottom: $jewelry-upload-container-margin-bottom;
  border: 1px solid $form-border-color;
  border-radius: 5px;
  background-color: $form-background-color;
  color: $form-text-color;

  h3 {
    text-align: center;
  }

  .form-content {
    display: contents;
    align-items: flex-start;

    .image-upload-section {
      flex: 2;
      margin-right: 20px;

      .submit-image {
        background-color: $form-button-color;

        &:hover {
          background-color: $form-button-hover-color;
        }
      }
    }

    .form-fields-section {
      flex: 1;
      display: flex;
      flex-direction: column;

      div {
        margin-bottom: 15px;
      }

      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: $form-label-color;
      }

      input,
      textarea,
      select {
        width: 100%;
        padding: 10px;
        border: 1px solid $form-border-color;
        border-radius: 5px;
        font-size: 16px;
        margin-top: 5px;
        /* Thêm margin-top cho các input, textarea, select */
      }

      span {
        color: red;
      }

      textarea {
        resize: vertical;
      }

      .input-container {
        position: relative;

        align-items: center;

        margin-bottom : 10px input {
          flex: 1;
          /* Đặt input chiếm toàn bộ không gian còn lại */
          padding-left: 10px;
          /* Điều chỉnh padding-left dựa trên thiết kế */
        }

        .suffix {
          margin-left: 5px;
          /* Điều chỉnh margin-left để cách đầu vào một khoảng */
          font-size: 20px;
          color: #555;
          /* Điều chỉnh màu sắc cho đúng thiết kế */
        }
      }

      .weight-unit-select-upload {
        width: 120px;
        /* Đặt chiều rộng là 100% để lấp đầy không gian */
        padding: 10px;
        /* Điều chỉnh padding để tạo khoảng cách với các phần tử khác */
        border: 1px solid $form-border-color;
        border-radius: 5px;
        font-size: 16px;
        margin-left: 5px;
        margin-top: 5px;
        /* Thêm margin-top cho các select box */
      }

      button {
        margin-top: 10px;
        /* Thêm margin-top để tách nút gửi với các trường dữ liệu */
        align-self: flex-start;
        /* Đặt alignment của button là flex-start */
        padding: 10px 20px;
        font-size: 16px;
        color: white;
        background-color: $form-button-color;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: $form-button-hover-color;
        }
      }

      .error {
        color: red;
        font-size: 14px;
        margin-top: 5px;
      }
    }
  }
}

.upload-placeholder {
  width: 100%;
  height: 200px;
  /* Adjust height as needed */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}