.carousel-container {
    position: relative;
    padding-top: 6rem; /* Adjust if you need more space at the top to account for the fixed header */
  }
  
  .slick-slider {
    position: relative;
    z-index: 1; /* Ensures the slider is above other elements */
  }
  
  .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-item {
    img {
      width: 100%;
      height: 50rem; 
      object-fit: cover; /* Ensures the image covers the entire space without stretching */
    }
  }

  .slick-prev,
  .slick-next {
    display: none;
  }
  
  .slick-dots {
    bottom: -2.5rem; 
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  
  .slick-dots li {
    margin: 0 5px;
  }
  
  .slick-dots li button:before {
    font-size: 12px;
    color: #ddd;
  }
  
  .slick-dots li.slick-active button:before {
    color: #333;
  }

  .carousel-container {
    padding-top: 6rem; 
  }
  