.login-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  margin: -200px auto 0 auto;
  background-color: rgba(8, 0, 0, 0.451); /* Thay đổi màu nền và làm mờ */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.174); /* Đổ bóng */
}

.login-form h2 {
  font-size: 300px;
  margin-bottom: 1px;
  color: #333; /* Màu chữ */
}

.login-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555; /* Màu chữ */
  text-align: left; /* Canh trái */
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: px;
  border: 1px solid #ccc; /* Viền */
  border-radius: 5px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #a1a435aa; /* Màu nút */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px; /* Khoảng cách giữa các nút */
}

.login-form button:last-child {
  margin-bottom: 0; /* Loại bỏ khoảng cách dưới cùng cho nút cuối cùng */
}

.login-form button:hover {
  background-color: #6e7203; /* Màu nút khi hover */
}

.login-form .bt {
  margin-top: 20px;
}

.login-form span {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #555; /* Màu chữ */
}
