// ManagerHomePg.scss
.mainContent {
    transition: margin-left 0.3s ease;
    margin-left: 0;
}

.mainContent.sidebar-open {
    margin-left: 200px; // Adjust this value to the width of your sidebar when it's open
}

.mainContent header,
.mainContent .managerHomeBody,
.mainContent footer {
    padding: 20px;
    flex: 1;
}
