.forgot-password-form {
  max-width: 500px;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.766);
  position: absolute;
  right: 23.9rem;
  top: 50%;
  transform: translateY(-50%);

  input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    width: 100%;
    padding: 15px;
    background-color: bisque;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #333;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: rgb(228, 175, 111);
  color: #333;
  }

}