.my-bids-container {
  max-width: 1200px;
  margin-top: 10rem;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
  border-radius: none;
  box-shadow: none;

  h1 {
    margin-top: 10rem;
    text-align: center;
    margin-bottom: 20px;
    color: #824D4D;
    font-size: 5rem;
  }

  .join-auctions-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .auction-item-bids {
      background-color: #ffffff;
      padding: 15px;
      border: 1px solid #dee2e6;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
      transition: transform 0.2s ease-in-out;
      flex: 1 1 calc(33.333% - 20px); /* Adjust width as a percentage of the container width */

      &:hover {
        transform: translateY(-5px);
      }

      .auction-details {
        margin-top: 10px;

        img {
          width: 100%;
          height: 25rem;
          border-radius: 8px;
          object-fit: cover; 
          margin-bottom: 1rem;
        }

        p {
          margin: 5px 0;
        }

        span {
          font-weight: bold;
          color: #495057;
        }
      }
    }
  }
}
